@page
@model ChangePasswordModel
@{
	ViewData["Title"] = "Change password";
	ViewData["ActivePage"] = ManageNavPages.ChangePassword;
	Layout = "Layouts/_PanelLayout";
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="col-sm-12 col-xl-6">
	<div class="bg-secondary rounded h-100 p-4">
		<h6 class="mb-4 text-primary">Change Password</h6>
		<form id="change-password-form" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating mb-3">
				<input asp-for="Input.OldPassword" class="form-control" id="floatingInput" placeholder="Current Password" autocomplete="current-password" aria-required="true" />
				<label asp-for="Input.OldPassword" for="oldPassword" class="form-label"></label>
				<span asp-validation-for="Input.OldPassword" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.NewPassword" class="form-control" id="floatingInput" placeholder="New Password" autocomplete="new-password" aria-required="true" />
				<label asp-for="Input.NewPassword" class="form-label"></label>
				<span asp-validation-for="Input.NewPassword" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.ConfirmPassword" class="form-control" id="floatingInput" placeholder="ConfirmNewPassword" autocomplete="new-password" aria-required="true" />
				<label asp-for="Input.ConfirmPassword" class="form-label"></label>
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>

			<button type="submit" class="w-50 btn btn-lg btn-light float-start">Update password</button>
			<button type="submit" class="w-25 btn btn-lg btn-primary float-end">Cancel</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
