@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "Layouts/_PanelLayout";
}
	<h3 style="margin-top: 32px; text-align: center">@ViewData["Title"]</h3>

	<div class="bg-secondary rounded h-100 p-4">
		<p style="text-align: center">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
		<p style="text-align: center">
			<strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
		</p>
		<div style="text-align:center">
			<form id="download-data" asp-page="DownloadPersonalData" method="post">
				<button class="btn btn-light" style="margin-right: 20px" type="submit">Download</button>
				<a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Delete</a>
			</form>
		</div>
	</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
